@import "~bulma";

.day {
  scroll-margin-top: 10px;

  &.is-past {
    background-color: rgba(89, 241, 74, .1);
  }

  &.is-today {
    background-color: rgba(241, 89, 74, .1);
  }

  .description {
    $lh: 1.25rem;
    $lines: 4;

    white-space: pre-line;
    font-size: 1rem;
    line-height: $lh;

    &.description-short {
      height: calc(#{$lh} * #{$lines});
      overflow: hidden;
    }
  }

  .toggle-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 10px;
  }
}
