<section class="section">
    <h1 class="title has-text-centered">Training Plan</h1>
</section>

<section class="section">
    <div class="columns is-flex-wrap-wrap">
        <div class="column is-half">
            <label class="label" for="startDate">
                Start Date:
                <input id="startDate" class="input" type="date" name="startDate"
                       [ngModel]="startDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="onStartDateChange($event)"
                       *ngIf="!locked"/>
                <input [id]="locked ? 'startDate' : 'startDate2'" class="input" type="date" name="startDate"
                       disabled="disabled" [value]="startDate | date:'yyyy-MM-dd'"
                       *ngIf="locked"/>
            </label>
        </div>

        <div class="column is-half">
            <label class="label" for="endDate">
                End Date:
                <input id="endDate" class="input" type="date" name="endDate"
                       [ngModel]="endDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="onEndDateChange($event)"
                       *ngIf="!locked"/>
                <input [id]="locked ? 'endDate' : 'endDate2'" class="input" type="date" name="endDate"
                       disabled="disabled" [value]="endDate | date:'yyyy-MM-dd'"
                       *ngIf="locked"/>
            </label>

        </div>

        <div class="column is-half">
            <label class="label" for="planName">
                Plan:
                <select name="planName" id="planName" class="select input" [disabled]="locked" (change)="updatePlan($event)">
                    <option value="" disabled>Select a plan</option>
                    <option [value]="plan.key" *ngFor="let plan of plans">
                        {{plan.value}}
                    </option>
                </select>
            </label>
        </div>
    </div>
    <u class="is-pulled-right" *ngIf="locked" (click)="locked = false">unlock</u>
</section>

<section class="section">
    <div class="box day" #toggle [attr.toggle]="0" [ngClass]="getDayClass(day)" *ngFor="let day of days">
        <h2 class="sub">
            <strong>{{day.name}}</strong>&nbsp;<small class="is-small">{{day.workout_date | date:'EEEE yyyy-MM-dd'}}</small>
        </h2>

        <div class="description description-short" *ngIf="toggle.getAttribute('toggle') === '0'">
            <p class="text">{{day.description}}</p>
        </div>
        <div class="description description-long" *ngIf="toggle.getAttribute('toggle') === '1'">
            <p class="text">{{day.description}}</p>

            <div class="activities" [class.mt-3]="day.Activities?.length">
                <div *ngFor="let activity of day.Activities">
                    <p class="text">
                        <strong>Type:</strong>&nbsp;<span>{{activity.activity_type_name}}</span>
                    </p>
                    <p class="text" *ngIf="activity.planned_duration">
                        <strong>Duration:</strong>&nbsp;<span>{{activity.planned_duration | duration}}</span>
                    </p>
                    <p class="text" *ngIf="activity.planned_pace_display">
                        <strong>Pace:</strong>&nbsp;<span>{{activity.planned_pace_display}}{{activity.planned_pace_display_type}}</span>
                    </p>
                </div>
            </div>
        </div>

            <!-- Float -->
            <button class="button toggle-button"
                    (click)="toggle.setAttribute('toggle', toggle.getAttribute('toggle') === '0' ? '1' : '0')">+
            </button>
        </div>
</section>
